.card-cancel-button {
  background-color: black;
  
  &:hover {
    background-color: white;
    color: lightcoral;
  }

  &:active {
    color: lightcoral;
    font-weight: bold;
    background-color: white;
  }
}
