<div class="users-list">
  <table *ngIf="usersList.length > 0; else emptyMessage" mat-table [dataSource]="usersList">
    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let row" class="users-list__item" (click)="onSelectedRow(row)">{{ row.nome | dashIfEmpty }}</td>
    </ng-container>
  
    <!-- Date of Sign Column -->
    <ng-container matColumnDef="dataCadastro">
      <th mat-header-cell *matHeaderCellDef> Data de Cadastro </th>
      <td mat-cell *matCellDef="let row" class="users-list__item" (click)="onSelectedRow(row)">{{ row.dataCadastro | date:'dd/MM/yyyy' | dashIfEmpty  }}</td>
    </ng-container>
  
    <!-- Status Column -->
    <ng-container matColumnDef="ativo">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let row" class="users-list__item" (click)="onSelectedRow(row)">{{ row.ativo | status }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<ng-template #emptyMessage>
  <div *ngIf="usersList.length === 0" class="users-list__empty-list">
    Nenhum usuário encontrado.
  </div>
</ng-template>