.item {
  padding: 10px;
  border-bottom: 1px solid black;
  font-weight: 400;
  background-color: white;

  &--odd {
    background-color: lightslategray;
  }

  &--isFirst {
    background-color: lightcoral;
    padding: 2px;
  }

  &--isLast {
    background-color: lightgreen;
    padding: 2px;
  }
}