<div class="container">
  <div class="left-container">
    <div class="top-div">
      <app-filter (onClickFilter)="onClickFilter($event)"></app-filter>
    </div>
    <div class="main-left-div">
      <app-users-list
        [usersList]="userListFiltered" 
        (onClickRow)="onClickRowTable($event)">
      </app-users-list>
    </div>
  </div>
  <div class="right-div">
    <app-user-details
    *ngIf="showUserDetails" 
    [user]="userSelected"
    (onClickCloseUserDetails)="onClickCloseUserDetails()">
  </app-user-details>
  </div>
</div>