<div
  [classList]="classNameExample"
  [style.color]="colorDiv">
  I'm green
</div>

<input 
  [value]="valueProps" 
  [type]="typeProps" 
  [disabled]="inputDisabled"
  (keyup)="handleKeyUp($event)"
>

<button 
  (click)="enableInput()"
  [style.backgroundColor]="'red'"
  [style.width.px]="'120'"
  [style.height.px]="styleHeightButton"
>Enable</button>
<button (click)="diasbleInput()">Disable</button>

<br>

<button 
  (click)="setInputPasswordType()"
  [style]="'background-color: cyan;'"
  >
  Password Type
</button>
<button 
  (click)="setInputTextType()"
  [style]="{width: '100px', backgroundColor: 'blue'}"
>
  Text Type
</button>

<button 
  onclick="alert('hello!')"
  [style]="styleObject"
>Say Hello</button>

<button [attr.title]="buttonTitle">above in mine</button>
<button [attr.disabled]="buttonDisabled ? true : null">above in mine 2</button>
<button (click)="onButtonClick()">Change Button State</button>

<br>
<button (click)="onButtonChangeColorClick()">Change color</button>

<button (click)="onButtonUpdateStyleObjClick()">Update Style Obj</button>

<button class="yellow-button">class binding</button>
<button [class.red-button]="classBinding">class binding</button>

<button [class]="{
  'yellow-button': !yellowOrRed,
  'red-button': yellowOrRed,
}"
(click)="yellowOrRed=!yellowOrRed"
>class binding object</button>