<div
  [classList]="classNameExample"
  [style.color]="colorDiv">
  I'm green
</div>

<input 
  [value]="valueProps" 
  [type]="typeProps" 
  [disabled]="inputDisabled"
  (keyup)="handleKeyUp($event)"
>

<button 
  (click)="enableInput()"
  [style.backgroundColor]="'red'"
>Enable</button>
<button (click)="diasbleInput()">Disable</button>

<br>

<button (click)="setInputPasswordType()">Password Type</button>
<button (click)="setInputTextType()">Text Type</button>

<button onclick="alert('hello!')">Say Hello</button>

<button [attr.title]="buttonTitle">above in mine</button>
<button [attr.disabled]="buttonDisabled ? true : null">above in mine 2</button>
<button (click)="onButtonClick()">Change Button State</button>

<br>
<button (click)="onButtonChangeColorClick()">Change color</button>
