<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Nome: </span><span class="mat-h3">Fulano da silva</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">E-mail: </span><span class="mat-h3">fulano&#64;email.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Telefone: </span><span class="mat-h3">(19) 98765-5432</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Endereço: </span><span class="mat-h3">Rua das Flores, 42, São Paulo</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Ativo: </span><span class="mat-h3">Sim</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Função: </span><span class="mat-h3">Engenhiro de Software</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Data de cadastro: </span><span class="mat-h3">20/08/2023</span>
    </mat-list-item>
    <mat-divider></mat-divider> 
  </mat-list>
</div>
