<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Nome: </span><span class="mat-h3">{{ userSelected.nome }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">E-mail: </span><span class="mat-h3">{{ userSelected.email }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Telefone: </span><span class="mat-h3">({{ userSelected.telefone.substring(0, 2) }}) {{ userSelected.telefone.substring(2, 7) }} - {{ userSelected.telefone.substring(7) }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Endereço: </span><span class="mat-h3">{{ userSelected.endereco.rua }}, {{ userSelected.endereco.numero }}, {{ userSelected.endereco.cidade }}, {{ userSelected.endereco.estado }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Ativo: </span><span class="mat-h3">{{ userSelected.ativo ? 'Ativo' : 'Inativo' }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Função: </span><span class="mat-h3">{{ userSelected.funcao }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Data de cadastro: </span><span class="mat-h3">{{ userSelected.dataCadastro }}</span>
    </mat-list-item>
    <mat-divider></mat-divider> 
  </mat-list>
  <div class="user-details__buttons">
    <button mat-raised-button (click)="closeUserDetails()">Fechar</button>
  </div>
</div>

